*Log*
.Rproj.user
.Rhistory
matrix.txt 
.vscode/

# Large folders
outputs/sampling/*
outputs/
data/
.env

# Compass
*_tmp*

# R files
r_code/renv/*
r_code/.Rhistory
r_code/r_code.Rproj
r_code/.RData*
r_code/.Rprofile


# MATLAB files
matlab/*.asv